<!-- <!doctype html>
<html lang="en"> -->
<%- include('./layouts/head')%>

    <body>
        <%- include('./layouts/navbar')%>

            <h1 class="hi">About page</h1>






            <%- include('./layouts/footer')%>